tmp
tags
test.sh
.luarc.json
lazy-lock.json
raycast
solana
github-copilot
htop
neofetch
astro
pypoetry
configstore
lazydocker
systemd
*credentials.json
*.key
tailscale
Cursor
mimeapps.list
uv
NuGet
gcloud
stetic
xbuild
go
.wrangler/*
